@*

*@
@{
}
<div class="jumbotron text-center">
<h1>Alexia Rochet</h1>
</div>
<section class="contact1">
    <div class="row  text-center justify-content-md-center">
        <div class="contact card col-md-3">
            <span class="fas fa-map-marker-alt fa-2x"></span>
            <p id="contact-text">Dijon (21), France</p>
        </div>
        <div class="contact card col-md-3">
            <span class="fas fa-phone fa-2x"></span>
            <p id="contact-text2">06 31 23 18 00</p>
        </div>
        <div class="contact card col-md-3">
            <span class="fas fas fa-envelope fa-2x"></span>
            <a href="mailto:rochet.alexia@yahoo.fr" id="contact-text3">rochet.alexia@yahoo.fr</a>
        </div>
        <div class="contact card col-md-3">
            <h2>in</h2>
            <a href="https://www.linkedin.com/in/concepteur-developpeur-informatique-alexia-rochet">LinkedIn</a>
        </div>
    </div>
</section>