@*

*@
@{
}

<div class="jumbotron text-center">
    <h1>AvisFormation</h1>
</div>
<section class="web-aspnet-core">
    <div class="text-center justify-content-md-center">
        <h4>Contexte :</h4>
        <p>Création d'un site internet mvc utilisant AspNet core 3.1. en suivant le cours en ligne de Thomas Blotiere sur udemy (<a href="https://www.udemy.com/course/creer-site-web-c-sharp-aspnet-core/">Lien</a>).</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Outils utilisés :</h4>
                <p>Visual studio 2019, entity framework core, AspNet core 3.1, Microsoft sql server, boostrap 4</p>
            </div>
            <div class="col-md-6">
                <h4>Langages :</h4>
                <p>C#, SQL, HTML, CSS</p>
            </div>
        </div>
        <h4>Le projet plus en détails</h4>
        <p>
            Sur ce site internet, l'utilisateur peut créer un compte pour ensuite noter et mettre un commentaire sur les formations qu'il à suivi. Il peut aussi voir les notes et les commentaires
            des autres utilisateurs. De plus, un formulaire de contact permet d'envoyer un message au gestionnaire du site.
        </p>
        <div class="webt">
            <p>La page d'accueil par défaut</p>
            <img src="~/image/web-aspnet-core/home.png" class="img-fluid" alt="Image de l'interface du logiciel">
        </div>
        <div class="webt">
            <p>La page d'accueil quand un utilisateur est connecté</p>
            <img src="~/image/web-aspnet-core/connecte.png" class="img-fluid" alt="Image de l'interface du logiciel">
        </div>
        <div class="webt">
            <p>La page d'accueil avec toutes les formations</p>
            <img src="~/image/web-aspnet-core/ttformations.png" class="img-fluid" alt="Image de l'interface du logiciel">
        </div>
        <div class="webt">
            <p>La page d'une formation en particulier</p>
            <img src="~/image/web-aspnet-core/detailformation.png" class="img-fluid" alt="Image de l'interface du logiciel">
        </div>
        <div class="webt">
            <p>La page pour ajouter un avis</p>
            <img src="~/image/web-aspnet-core/avis.png" class="img-fluid" alt="Image de l'interface du logiciel">
        </div>
        <div class="webt">
            <p>La page de contact</p>
            <img src="~/image/web-aspnet-core/contact.png" class="img-fluid" alt="Image de l'interface du logiciel">
        </div>
        <br />
        <p>Vous trouverez en suivant ce lien le code source du site internet. <a href="https://github.com/Drahaven/AvisFormation">Code source</a></p>

    </div>
</section>