@*

*@
@{
}

<div class="jumbotron text-center">
    <h1>CodeIgniter</h1>
</div>
<section class="codeIgniter">
    <div class="text-center justify-content-md-center">
        <h4>Contexte :</h4>
        <p> Création d'un site internet mvc utilisant le framework codeIgniter.</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Outils utilisés :</h4>
                <p>Visual studio code, PhpMyAdmin et AMPPS</p>
            </div>
            <div class="col-md-6">
                <h4>Langages :</h4>
                <p>PHP, HTML, CSS, MySQL</p>
            </div>
        </div>
        <h4>Le projet plus en détails</h4>
        <p>
            Sur ce site internet, l'utilisateur peut arpès c'être connecté voir la liste de tous ces produits, changer leurs prix et trier ses produits par catégories.
        </p>
        <div class="webt">
            <p>La page d'authentification</p>
            <img src="~/image/codeigniter/auth.png" class="img-fluid" alt="Image de l'interface du logiciel">
        </div>
        <div class="webt">
            <p>La page d'accueil</p>
            <img src="~/image/codeigniter/acc.png" class="img-fluid" alt="Image de l'interface du logiciel">
        </div>
        <div class="webt">
            <p>La page pour voir tous les produits</p>
            <img src="~/image/codeigniter/select.png" class="img-fluid" alt="Image de l'interface du logiciel">
        </div>
        <div class="webt">
            <p>La page pour modifier le prix d'un produit'</p>
            <img src="~/image/codeigniter/modifprix.png" class="img-fluid" alt="Image de l'interface du logiciel">
        </div>
        <br />
        <p>Vous trouverez en suivant ce lien le code source du site internet. <a href="https://github.com/Drahaven/CodeIgniter">Code source</a></p>

    </div>
</section>