@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div class="jumbotron text-center">
    <h1>Simply or not</h1>
</div>
<section class="logiciel-mairie">
    <div class="text-center justify-content-md-center">
        <h4>Contexte :</h4>
        <p> Création d'un logiciel de type bureau pour la gestion des congés et des heures supplémentaires pour le service technique de la mairie d'Orgelet (39).</p>
        <div class="row">
            <div class="col-md-6">
                <h4>Outils outilisés :</h4>
                <p>Visual studio 2019 et offre gratuit Alwaysdata pour la base de données MySQL en ligne</p>
            </div>
            <div class="col-md-6">
                <h4>Langages :</h4>
                <p>C# et MySQL</p>
            </div>
        </div>
            <h4>Le projet plus en détails</h4>
        <p>Grâce à ce logiciel l'utilisateur peut ajouter, modifier et supprimer des agents, des périodes d'activités, des congés et des heures supplémentaires. Je détaillerai ici quelques vues.</p>
        <div class="row justify-content-md-center">
            <div class="carde-simply col-md-5">
                <p>La vue de connexion.</p>
                <img src="~/image/simply/connexion.png" class="img-fluid" alt="Page de connexion" width="550" height="350">
            </div>
            <div class="carde-simply col-md-5">
                <p> La vue d'accueil.</p>
                <img src="~/image/simply/accgene.png" class="img-fluid" alt="Page d'accueil" width="550" height="350">
            </div>
            <div class="carde-simply col-md-5">
                <p> La vue récapituative de tous les agents.</p>
                <img src="~/image/simply/voirttagent.png" class="img-fluid" alt="Page de connexion" width="550" height="350">
            </div>
            <div class="carde-simply col-md-5">
                <p>La vue pour créer un agent.</p>
                <img src="~/image/simply/creeragent.png" class="img-fluid" alt="Page de connexion" width="550" height="350">
            </div>
            <div class="carde-simply col-md-7">
                <p>La vue récapitulative d'un agent.</p>
                <img src="~/image/simply/recapagent.png" class="img-fluid" alt="Page de connexion" width="550" height="350">
            </div>
            <div class="carde-simply col-md-5">
                <p>La vue pour ajouter un congés.</p>
                <img src="~/image/simply/ajcong.png" class="img-fluid" alt="Page de connexion" width="550" height="350">
            </div>
            <div class="carde-simply col-md-5">
                <p>La vue récapitulative des heures supplémentaires.</p>
                <img src="~/image/simply/recapheure.png" class="img-fluid" alt="Page de connexion" width="550" height="350">
            </div>
        </div>
        <br />
        <p>Pour plus de détails sur l'affichage et l'utilisation de ce logiciel. <a href="https://github.com/Drahaven/Simply-or-not">Documentation</a></p>



        </div>
</section>