@*

*@
@{
}

<div class="jumbotron text-center">
    <h1>Expériences professionnelles</h1>
</div>
<section class="formations">
    <div class="row  text-center justify-content-md-center">
        <div class="card col-md-5">
            <h2>Stage de programmation</h2>
            <p>Novembre 2020 – Février 2021 - Mairie d’Orgelet • Orgelet (3 mois)</p>
            <span class="fas fa-desktop fa-3x"></span>
        </div>
        <div class="card col-md-5">
            <h2>Opératrice polyvalente et agent d’entretien</h2>
            <p>Octobre 2018 – Août 2020 - EFFICIEN'TT - Smoby Toys - Arinthod</p>
            <span class="fas fa-industry fa-3x"></span>
        </div>
        <div class="card col-md-5">
            <h2>Stage de licence</h2>
            <p>2017 - Espaces verts de la mairie - Besançon (1 mois)</p>
            <span class="fas fas fa-leaf fa-3x"></span>
        </div>
        <div class="card col-md-5">
            <h2>Opératrice polyvalente</h2>
            <p>2017 -  Manpower - Smoby Toys - Arinthod (1 mois)</p>
            <span class="fas fas fa-industry fa-3x"></span>
        </div>
        <div class="card col-md-5">
            <h2>Opératrice polyvalente</h2>
            <p>2016 et 2015 - Adecco - EDA plastique - Oyonnax (1 mois)</p>
            <span class="fas fas fa-industry fa-3x"></span>
        </div>
    </div>
</section>
