@*

*@
@{
}

<div class="jumbotron text-center">
    <h1>Formations et diplômes</h1>
</div>
<section class="formations">
    <div class="row  text-center justify-content-md-center">
        <div class="card col-md-5">
            <h2>Titre professionnel concepteur développeur d’application</h2>
            <p>2021 - GRETA 21 - Lycée le Castel – Dijon (21)</p>
            <span class="fas fa-desktop fa-3x"></span>
        </div>
        <div class="card col-md-5">
            <h2>Licence de Sciences, technologies, santé, mention Sciences de la vie, parcours écologie</h2>
            <p>2018 - Université de Franche-Comté – Besançon (25)</p>
            <span class="fas fa-microscope fa-3x"></span>
        </div>
        <div class="card col-md-5">
            <h2>Diplôme d’études universitaires générales de Sciences, technologies, santé, mention Sciences de la vie</h2>
            <p>2017 - Université de Franche-Comté – Besançon (25)</p>
            <span class="fas fas fa-microscope fa-3x"></span>
        </div>
        <div class="card col-md-5">
            <h2>Certificat informatique et internet Niveau 1</h2>
            <p>2015 - Université de Franche-Comté – Besançon (25)</p>
            <span class="fas fas fa-globe fa-3x"></span>
        </div>
        <div class="card col-md-5">
            <h2>Baccalauréat scientifique</h2>
            <p>2014 - Lycée général Jean-Michel - Lons-le-Saunier (39)</p>
            <span class="fas fas fa-book fa-3x"></span>
        </div>
    </div>
</section>


